{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "CosmosDbConnectionString": "{Azure Cosmos DB Emulator ‚Ì Primary Connection String ‚ðƒRƒs‚é}"
  }
}